<div class="table-container">
  <div class="filter">
    <app-filter (filterChanged)="onFilterChanged($event)"></app-filter>
    <div class="column-controls" appOutsideClick (outsideClick)="handleOutsideClick()">
      <button (click)="toggleDropdown()" class="dropdown-button">
        <img ngSrc="assets/images/down.svg" class="down-icon"
          [ngClass]="{'arrow-down': !dropdownVisible, 'arrow-up': dropdownVisible}"
          alt="Toggle dropdown" height="6" width="8"/>
        </button>
        <div class="dropdown-menu" [class.show]="dropdownVisible">
          @for (column of allColumns; track column) {
            <label>
              <input type="checkbox" [checked]="columnsToShow.includes(column)" (change)="toggleColumn(column)"/>
              {{ column }}
            </label>
          }
        </div>
      </div>
    </div>

    <div class="table-wrapper">
      @if (filteredData.length > 0){
        <ng-container>
          <table class="table">
            <thead class="table-head">
            <tr class="table-line">
              @for (column of columnsToShow; track column) {
                <th class="table-head-cell"
                    (click)="sortColumn(column)"
                    [ngStyle]="{ 'width': getColumnWidth(column) }">
                  {{ column }}
                </th>
              }
            </tr>
            </thead>
            <tbody class="table-body">
              @for (row of filteredData.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage); track row) {
                <tr class="table-line"
                >
                  @for (column of columnsToShow; track column) {
                    <td class="table-cell"
                        [attr.data-label]="column"
                        [ngStyle]="{ 'width': getColumnWidth(column) }">
                      @if (isNestedColumn(column)) {
                        @if (column === 'name') {
                          {{ row[column]?.first }}, {{ row[column]?.last }}
                        }
                      } @else {
                        @if (column === 'picture') {
                          @if (row[column]) {
                            <img [src]="row[column]" alt="Image" class="table-image"/>
                          }
                        } @else {
                          @if (column === 'email') {
                            @if (row[column]) {
                              <a [href]="'mailto:' + row[column]" class="email-link">
                                {{ row[column] }}
                              </a>
                            }
                            @if (!row[column]) {
                              {{ 'No email' }}
                            }
                          }
                          @if (column !== 'email') {
                            @if (Array.isArray(row[column])) {
                              {{ row[column] }}
                            } @else {
                              @if (column === 'isActive') {
                                <span [ngClass]="{'badge-active': row[column], 'badge-inactive': !row[column]}">
                              {{ row[column] ? 'Active' : 'Inactive' }}
                            </span>
                              }
                              @if (column !== 'isActive') {
                                {{ row[column] }}
                              }
                            }
                          }
                        }
                      }
                    </td>
                  }
                </tr>
              }
            </tbody>
          </table>
        </ng-container>
      } @else {

        <div class="message">
          No data available for the current query.
        </div>
      }
    </div>

    <app-pagination
      [currentPage]="currentPage"
      [totalItems]="filteredData.length"
      [itemsPerPage]="itemsPerPage"
      [itemsPerPageOptions]="[5, 10, 20, 50]"
      (pageChange)="onPageChange($event)"
      (itemsPerPageChange)="onItemsPerPageChange($event)">
    </app-pagination>
  </div>
