// variables.scss

// Цвета
$color-background-light: rgba(244, 247, 252, 0.6588235294);
$color-border: #ddd;
$color-white: #FFFFFF;
$color-shadow: rgba(0, 0, 0, 0.2);
$color-green: #14804A;
$color-green-light: #E1FCEF;
$color-red: #D12953;
$color-red-light: #FAF0F3;
$color-gray: #f1f1f1;
$color-gray-dark: #888;
$color-gray-darker: #555;

// Размеры
$btn-font-size: 1.5em;
$icon-width: 12px;
$badge-padding: 0.2em 0.6em;
$font-size-small: 14px;

// Ширина и высота
$scrollbar-width: 3px;
$scrollbar-height: 5px;
